.article-label {
  margin: 5px;
  user-select: none;
  position: relative;
}

.inner-article-label {
  width: 100%;
  padding-right: 30px !important;
}

.trigger-button {
  position: absolute;
  top: 2px;
  right: -4px;
}
